# Used to upload files to dropbox API
DROPBOX_TOKEN=xxxxxxxxxxx

# Used to require X-Api-Key header on the JSON api
API_KEY=xxxxx

# Used to authenticate the XMLRPC API
USERNAME=localtest
PASSWORD=test123

