# Used to upload files to dropbox API
DROPBOX_TOKEN=xxxxxxxxxxx

# Used to require api_key parameter on json requests
API_KEY=xxxxx

# Used to authenticate the XMLRPC API
USERNAME=localtest
PASSWORD=test123

